.header {
    /*    background-image: url("../img/header.jpg") ;
    background-position: center;
    background-repeat: inherit;*/
    height: 150px;
}

.top-bar {
    background-color: #1e1c1f;
}

.profil {
    border-radius: 20px;
}
#topButton {
    display: none; 
    position: fixed; 
    bottom: 30px;
    right: 30px; 
    z-index: 99;
    /* font-size: 36px; */
    border: 1;
}
#searchButton, .searchButton {
    font-size: 24px;
    border-radius: 100%;
    border: 0;
}
.cartButton-lg {
    font-size: 36px;
}
#addToCartButton {
    font-size: 48px;
    border: 0;
}
#profilButton, .profilButton {
    font-size: 36px;
    border: 0;
}


.btn-group-vertical {
    display: block;
    width: 100%;
}
.btn-group-vertical a{
    text-align: left;
}
.btn-group-vertical a:nth-of-type(even) {
    background: #eee;
}
.btn-group-vertical a:first-child {
    border-radius: 0px;

}
.btn-group-vertical a:hover {
    background-image: linear-gradient(to right, #343a40, #713A40, #A43A40);
    color: #fff;
    font-size: large;
    text-align: center;
    transition: all .4s ease-in-out;
}
.btn-group-vertical a.active {
    /*background: #343a40;*/
    background-image: linear-gradient(to right, #343a40, #713A40, #A43A40);
    transition: all .4s ease-in-out;
    color: #fff;
    font-size: large;
    text-align: center;
}

#loading {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9999;
    background: #333333;
    opacity: 0.9;
    width: 100%;
    height: 100%;
}

#also_linkek a {
    color: #acacac;
    text-decoration: none;
}
#also_linkek a:hover {
    color: #fff;
    text-decoration: none;
}
#also_linkek a.active, .sidenav a.active {
    color: #fff;
    text-decoration: none;
}

.carousel-thumbnails .carousel-inner img {
  height: 450px; 
  object-fit: contain; 
  cursor: zoom-in
}

.carousel-thumbnails .carousel-indicators img {
    max-width: 35px;
    height: 50px;
    object-fit: contain;
    overflow: hidden;
    display: block;
}


.carousel-thumbnails .carousel-indicators li {
    height: auto;
    max-width: 35px;
    width: 100px;
    border: none;
    box-shadow: 1px 3px 5px 0px rgba(0,0,0,0.75);
}

.carousel-control-prev, .carousel-control-next {
  width: 10%;
}

.carousel-control-prev-icon, .carousel-control-next-icon {
  background-color: #000;
}

.td-rate {
  width: 20%;
  user-select: none;
}

/* Star rating */
.rating {
    display: inline-block;
    position: relative;
    height: 50px;
    line-height: 50px;
    font-size: 50px;
  }
  
  .rating label {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    cursor: pointer;
  }
  
  .rating label:last-child {
    position: static;
  }
  
  .rating label:nth-child(1) {
    z-index: 5;
  }
  
  .rating label:nth-child(2) {
    z-index: 4;
  }
  
  .rating label:nth-child(3) {
    z-index: 3;
  }
  
  .rating label:nth-child(4) {
    z-index: 2;
  }
  
  .rating label:nth-child(5) {
    z-index: 1;
  }
  
  .rating label input {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
  }
  
  .rating label .icon {
    float: left;
    color: transparent;
  }
  
  .rating label:last-child .icon {
    color: #000;
  }
  
  .rating:not(:hover) label input:checked ~ .icon,
  .rating:hover label:hover input ~ .icon {
    color: gold;
  }
  
  .rating label input:focus:not(:checked) ~ .icon:last-child {
    color: #000;
    text-shadow: 0 0 5px gold;
  }
/* Star rating end */

#sortable li, #sortable input {
  cursor: grab;
}

#sortable li:active, #sortable input:active {
  cursor: grabbing;
}

#galleryCarousel img {
  cursor: zoom-out;
}

.circle {
  height: 50px;
  width: 50px;
  text-align: center; 
  display: inline;
  font-size: 25px;
  font-weight: bold;
  background-color: #fff;
}
